html {
  padding: 0;
  margin: 0;
}

.choose-us {
  @include flex-column;
  background-color: $highlight-section-color;
  .choose-us-header {
    @include flex-column;
    justify-content: center;
    margin: 0 0 10px 0;
    h1 {
      font-size: 36px;
      @include title-font;
      color: #fff;
      font-weight: 500;
    }
    p {
      font-size: 15px;
      margin-top: 0;
      @include subtitle-font;
      color: #fff;
      width: 550px;
      text-align: center;
    }
  }
  .choose-us-card-container {
    @include flex-row;
    justify-content: space-between;
    padding: 0 60px;
    margin: 20px;
    .choose-us-card {
      @include flex-column;
      flex: 1;
      max-width: 300px;
      height: 100%;
      padding: 15px 15px;
      margin: 0 20px;
      border-radius: 10px;
      background-color: $highlight-card-color;
      color: $highlighted-font-color;
      font-size: $subtitle-font-size;
      font-family: $subtitle-font;
      text-align: center;
      .far.fa-gem,
      .fas.fa-language,
      .far.fa-object-group {
        @extend %icons;
      }
      h2 {
        font: $title-font;
      }
      a {
        color: $highlighted-font-color;
        font-weight: 600;
        text-decoration: none;
      }
    }
  }
  .choose-us-counters {
    @include flex-row;
    width: 900px;
    margin: 0 auto;
    padding: 60px;
    flex: 1;
    .counter-box {
      @include flex-column;
      .counter-number {
        font-size: $counter-font-size;
        color: $highlighted-font-color;
        font-family: $title-font;
        font-weight: 700;
      }
      p {
        font-family: $title-font;
        font-size: 14px;
        color: $highlighted-font-color;
      }
    }
  }
}
