@mixin cards-divs {
  height: 500px;
  width: 300px;
}

@mixin services-icon-container {
  height: 200px;
  width: 200px;
}

@mixin services-img {
  height: auto;
  width: 100%;
}

.services {
  @include flex-column();
  background-color: $body-background-color;
  box-shadow: inset 0px 10px 10px -8px rgba(0, 0, 0, 0.43);

  & .services-title {
    font: 100% "Montserrat", sans-serif;
    font-size: $title-title-size;
    text-align: center;
  }

  & .services-description {
    font-size: $subtitle-font-size;
    font: 95% "Open Sans", sans-serif;
    text-align: center;
    color: $subtitle-color;
    width: 30%;
    line-height: 1.6;
    margin: auto;
  }
}

.services-cards-container {
  @include flex-row();
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  width: 55%;
  padding: 1%;

  & .services-card {
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
    background-color: #ffffff;
    width: 40%;
    padding: 35px;
    margin: 50px 20px 0px 10px;
    line-height: 1;
    position: relative;
    overflow: hidden;
  }

  & .services-card:hover {
  }

  // & .services-icon-container {
  //   width: 25%;
  //   height: auto;
  //   float: left;
  // }

  & .card-title {
    font: 100% "Montserrat", sans-serif;
    font-weight: bold;
  }

  & .card-title:link {
    color: #000;
    text-decoration: none;
  }

  & .card-title:visited {
    color: #000;
  }

  & .card-description {
    font: 90% "Open Sans", sans-serif;
    color: $text-color;
    line-height: 1.6;
  }
}
