@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700%7COpen+Sans:400,700&display=swap');


$main-font: 'Montserrat', sans-serif;
$secondary-font: 'Open Sans', sans-serif;
$main-color: #1445B3;
$secondary-color: #007bff;
$text-color:#283d50;

@mixin flex-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-column {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}