@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

$main-font: "Montserrat", sans-serif;
$secondary-font: "Open Sans", sans-serif;
$main-color: #004289;
$secondary-color: #007bff;

@mixin flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
