@import "./variables";
// Header
header{
    background-color:$main-color;
    width:100%;
    height:600px;
    padding:200px 0px;
    @include flex-row;
}
.header-text{
    flex:1;
    font-family:$main-font;
    margin-left:100px;
    h1{
        margin:0;
        font-size:48px;
        font-weight: 700;
        color:#fff;
    }
    .solutions{
        color:$secondary-color;
        text-decoration:underline;
    }
}
.header-image{
    flex:1;
    margin-right:100px;
    img{
        width:100%;
        height:auto;
    }
}
a{

}

