@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700%7COpen+Sans:400,700&display=swap");
body {
  margin: 0; }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1445B3;
  width: 100%;
  height: 600px;
  padding-top: 50px;
  margin: 0; }

.header-text {
  flex: 1;
  font-family: "Montserrat", sans-serif;
  margin-left: 100px; }
  .header-text h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    color: #fff; }
  .header-text .solutions {
    color: #007bff;
    text-decoration: underline; }

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  width: 350px; }
  .buttons button {
    width: 160px;
    height: 45px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    text-decoration: none;
    font-size: 14px;
    color: #fff; }
  .buttons .button-get-started {
    background-color: #007bff;
    border: 2px solid #007bff;
    border-radius: 25px;
    transition: all 0.5s; }
    .buttons .button-get-started:hover {
      background-color: transparent;
      border: 2px solid #fff; }
  .buttons .button-our-services {
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 25px;
    transition: all 0.5s; }
    .buttons .button-our-services:hover {
      background-color: #007bff;
      border: 2px solid #007bff; }

.header-image {
  flex: 1;
  margin-right: 100px; }
  .header-image img {
    width: 100%;
    height: auto; }

.testimonials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 400px;
  background-color: #ebf4ff;
  box-shadow: inset 0px 0px 20px 1px rgba(0, 0, 0, 0.1); }
  .testimonials h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 36px;
    color: #283d50;
    margin-top: 50px; }
  .testimonials-container {
    width: 700px;
    height: 200px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .testimonials #testimonials-1, .testimonials #testimonials-2, .testimonials #testimonials-3, .testimonials #testimonials-4, .testimonials #testimonials-5 {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .testimonials-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 600px; }
    .testimonials-text h3 {
      font-family: "Montserrat", sans-serif;
      font-size: 20px;
      margin: 0;
      padding: 0;
      padding-bottom: 5px;
      align-self: flex-start; }
    .testimonials-text h4 {
      font-family: "Montserrat", sans-serif;
      font-size: 14px;
      color: #999999;
      font-weight: 200;
      margin: 0;
      padding: 0;
      align-self: flex-start; }
    .testimonials-text p {
      font-family: "Open Sans", sans-serif;
      font-size: 16px;
      font-style: italic;
      color: #283d50; }

.testimonials-image {
  width: 110px;
  border: 5px solid #fff;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px; }
  .testimonials-image img {
    width: 100%;
    height: auto; }

.testimonials-dots {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100px;
  margin-bottom: 70px; }

.testimonials-dots-link {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #cac9c9; }

.our-clients {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: 0;
  width: 100%;
  height: 600px;
  background-color: #ebf4ff;
  box-shadow: inset 0px 0px 20px 1px rgba(0, 0, 0, 0.1); }
  .our-clients-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column; }
  .our-clients h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    font-weight: 500;
    color: #283d50; }
  .our-clients p {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    width: 525px;
    text-align: center;
    color: #395772;
    margin: 0; }

.clients {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 1104px;
  padding-bottom: 80px; }
  .clients div {
    width: 275px;
    height: 160px;
    background-color: #fff;
    border: 0.5px solid #ebf4ff;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column; }
  .clients img {
    width: 100%;
    height: auto;
    margin: auto;
    transform: scale(0.5);
    transition: all 0.8s; }
    .clients img:hover {
      transform: scale(0.65); }
