@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
.header {
  height: 80px;
  z-index: 997;
  padding: 20px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3); }
  .header .main-nav {
    display: flex;
    justify-content: space-between;
    text-align: right;
    align-items: center;
    height: 72px;
    color: #004289;
    padding: 10px 15px;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    list-style: none;
    float: right; }
    .header .main-nav .ul .li {
      position: relative;
      white-space: nowrap;
      float: left; }
      .header .main-nav .ul .li a {
        display: block;
        position: relative;
        color: #004289;
        padding: 10px 15px;
        transition: 0.3s;
        font-size: 14px;
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        text-decoration: none; }
        .header .main-nav .ul .li a:hover {
          color: "Open Sans", sans-serif;
          text-decoration: none; }

.logo img {
  padding: 0;
  margin: 7px 10px;
  max-height: 26px;
  float: left; }

/*-----About Us------*/
#about {
  background: #fff;
  padding: 60px 0; }
  #about .about-container .background {
    margin: 20px 0; }
    #about .about-container .background .content {
      background: #fff; }
      #about .about-container .background .content .title {
        color: #333;
        font-weight: 700;
        font-size: 32px; }
        #about .about-container .background .content .title p {
          line-height: 26px; }
          #about .about-container .background .content .title p:last-child {
            margin-bottom: 0; }
          #about .about-container .background .content .title p .icon-box {
            background: #fff;
            background-size: cover;
            padding: 0 0 30px 0; }
            #about .about-container .background .content .title p .icon-box .icon {
              float: left;
              background: #fff;
              width: 64px;
              height: 64px;
              display: -webkit-box;
              display: -webkit-flex;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-pack: center;
              -webkit-justify-content: center;
              -ms-flex-pack: center;
              justify-content: center;
              -webkit-box-align: center;
              -webkit-align-items: center;
              align-items: center;
              -webkit-box-orient: vertical;
              -webkit-box-direction: normal;
              -webkit-flex-direction: column;
              flex-direction: column;
              text-align: center;
              border-radius: 50%;
              border: 2px solid #007bff;
              transition: all 0.3s ease-in-out; }
              #about .about-container .background .content .title p .icon-box .icon:hover {
                background: #007bff;
                color: #fff; }
              #about .about-container .background .content .title p .icon-box .icon i {
                color: #007bff;
                font-size: 24px; }
              #about .about-container .background .content .title p .icon-box .icon .title {
                margin-left: 80px;
                font-weight: 600;
                margin-bottom: 5px;
                font-size: 18px; }
                #about .about-container .background .content .title p .icon-box .icon .title a {
                  color: #283d50; }
                #about .about-container .background .content .title p .icon-box .icon .title .description {
                  margin-left: 80px;
                  line-height: 24px;
                  font-size: 14px; }
                #about .about-container .background .content .title p .icon-box .icon .title .about-extra {
                  padding-top: 60px; }
                  #about .about-container .background .content .title p .icon-box .icon .title .about-extra h4 {
                    font-weight: 600;
                    font-size: 24px; }

/*-------footer-----*/
#footer {
  background: #00428a;
  padding: 0 0 30px 0;
  color: #eee;
  font-size: 14px; }
  #footer .footer-top {
    background: #004a99;
    padding: 60px 0 30px 0; }
    #footer .footer-top .social-links a {
      font-size: 18px;
      display: inline-block;
      background: #007bff;
      color: #fff;
      line-height: 1;
      padding: 8px 0;
      margin-right: 4px;
      border-radius: 50%;
      text-align: center;
      width: 36px;
      height: 36px;
      transition: 0.3s; }
      #footer .footer-top .social-links a:hover {
        background: #0067d5;
        color: #fff; }
      #footer .footer-top .social-links a .footer-info {
        margin-bottom: 30px; }
        #footer .footer-top .social-links a .footer-info h3 {
          font-size: 34px;
          margin: 0 0 20px 0;
          padding: 2px 0 2px 0;
          line-height: 1;
          font-family: "Montserrat", sans-serif;
          color: #fff;
          font-weight: 400;
          letter-spacing: 3px;
          text-transform: uppercase; }
          #footer .footer-top .social-links a .footer-info h3 p {
            font-size: 13px;
            line-height: 24px;
            margin-bottom: 0;
            font-family: "Montserrat", sans-serif;
            color: #ecf5ff; }

/*body {
    background: #fff;
    color: #444;
    font-family: "Open Sans", sans-serif;
  }
  
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  
  p {
    padding: 0;
    margin: 0 0 30px 0;
  }
  
nav {
  display: flex;
  justify-content: space-between;
  text-align:right;
  align-items: center;
  height:72px;
  color: #004289;
  padding: 10px 15px;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}


.logo img {
  padding: 0;
  margin: 7px 10px;
  max-height: 26px;
  float:left;
}

#header {
  height: 80px;
  z-index: 997;
  padding: 20px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3);
}

  
  .main-nav,
  .main-nav * {
    margin: 0;
    padding: 0;
    list-style: none;
    float:right;
  }
  
  .main-nav > ul > li {
    position: relative;
    white-space: nowrap;
    float: left;
  }
  
  .main-nav a {
    display: block;
    position: relative;
    color: #004289;
    padding: 10px 15px;
    transition: 0.3s;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
  }
  
  .main-nav a:hover,
  .main-nav .active > a,
  .main-nav li:hover > a {
    color: #007bff;
    text-decoration: none;
  }
  
  .main-nav .drop-down ul {
    display: block;
    position: absolute;
    left: 0;
    top: calc(100% + 30px);
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    padding: 10px 0;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: ease all 0.3s;
  }
  
  .main-nav .drop-down:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }
  
  .main-nav .drop-down li {
    min-width: 180px;
    position: relative;
  }
  
  .main-nav .drop-down ul a {
    padding: 10px 20px;
    font-size: 13px;
    color: #004289;
  }
  
  .main-nav .drop-down ul a:hover,
  .main-nav .drop-down ul .active > a,
  .main-nav .drop-down ul li:hover > a {
    color: #007bff;
  }
  
  .main-nav .drop-down > a:after {
    content: "\f107";
    font-family: "Montserrat", sans-serif;
    padding-left: 10px;
  }
  
  .main-nav .drop-down .drop-down ul {
    top: 0;
    left: calc(100% - 30px);
  }
  
  .main-nav .drop-down .drop-down:hover > ul {
    opacity: 1;
    top: 0;
    left: 100%;
  }
  
  .main-nav .drop-down .drop-down > a {
    padding-right: 35px;
  }
  
  .main-nav .drop-down .drop-down > a:after {
    content: "\f105";
    position: absolute;
    right: 15px;
  }

  /*---------------About Us Section--------------

#about {
  background: #fff;
  padding: 60px 0;
}

#about .about-container .background {
  margin: 20px 0;
}

#about .about-container .content {
  background: #fff;
}

#about .about-container .title {
  color: #333;
  font-weight: 700;
  font-size: 32px;
}

#about .about-container p {
  line-height: 26px;
}

#about .about-container p:last-child {
  margin-bottom: 0;
}

#about .about-container .icon-box {
  background: #fff;
  background-size: cover;
  padding: 0 0 30px 0;
}

#about .about-container .icon-box .icon {
  float: left;
  background: #fff;
  width: 64px;
  height: 64px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
  text-align: center;
  border-radius: 50%;
  border: 2px solid #007bff;
  transition: all 0.3s ease-in-out;
}

#about .about-container .icon-box .icon i {
  color: #007bff;
  font-size: 24px;
}

#about .about-container .icon-box:hover .icon {
  background: #007bff;
}

#about .about-container .icon-box:hover .icon i {
  color: #fff;
}

#about .about-container .icon-box .title {
  margin-left: 80px;
  font-weight: 600;
  margin-bottom: 5px;
  font-size: 18px;
}

#about .about-container .icon-box .title a {
  color: #283d50;
}

#about .about-container .icon-box .description {
  margin-left: 80px;
  line-height: 24px;
  font-size: 14px;
}

#about .about-extra {
  padding-top: 60px;
}

#about .about-extra h4 {
  font-weight: 600;
  font-size: 24px;
}

/*--------------FOOTER---------------------
#footer {
  background: #00428a;
  padding: 0 0 30px 0;
  color: #eee;
  font-size: 14px;
}

#footer .footer-top {
  background: #004a99;
  padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
  font-size: 34px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#footer .footer-top .footer-info p {
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Montserrat", sans-serif;
  color: #ecf5ff;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #007bff;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #0067d5;
  color: #fff;
}

#footer .footer-top h4 {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 10px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul li {
  padding: 8px 0;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #ecf5ff;
}

#footer .footer-top .footer-links ul a:hover {
  color: #74b5fc;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
  line-height: 26px;
}

#footer .footer-top .footer-newsletter {
  margin-bottom: 30px;
}

#footer .footer-top .footer-newsletter input[type="email"] {
  border: 0;
  padding: 6px 8px;
  width: 65%;
}

#footer .footer-top .footer-newsletter input[type="submit"] {
  background: #007bff;
  border: 0;
  width: 35%;
  padding: 6px 0;
  text-align: center;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}

#footer .footer-top .footer-newsletter input[type="submit"]:hover {
  background: #0062cc;
}

#footer .copyright {
  text-align: center;
  padding-top: 30px;
}

#footer .credits {
  text-align: center;
  font-size: 13px;
  color: #f1f7ff;
}

#footer .credits a {
  color: #bfddfe;
}

#footer .credits a:hover {
  color: #f1f7ff;
}
*/
